.page-footer {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #5eaeff;
  text-align: center;
  color: white;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer > .container {
  margin: 20px 0px;
}
.mb-5 > a {
  margin-left: 10px;
}
